<div class="card">  
    <div class="card-body">  
      <form>
        <div class="form-group row">  
          <label class="col-md-4">Patient name</label>  
          <input type="text" class="form-control col-md-6" />  
        </div>
        <div class="form-group row">  
          <label class="col-md-4">Patient gender</label>
          <div class="btn-group btn-group-toggle" ngbRadioGroup>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="1"> Male
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" [value]="2"> Female
            </label>
          </div>
        </div>
        <div class="form-group row">  
          <label class="col-md-4">Date of birth </label>
          <ngb-datepicker #d></ngb-datepicker>
        </div>  
        <div class="form-group row">  
          <label class="col-md-4">NID/Passport number</label>  
          <input type="text" class="form-control col-md-6" />  
        </div>  
        <div class="form-group">  
          <button type="submit" class="btn btn-primary">Add Patient</button>  
        </div>  
      </form>  
    </div>  
  </div>  